rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{userID}/{document=**} {
      allow read, write, delete: if request.auth.uid == userID;
      allow create: if request.auth.uid != null;
    }
  }
}